body{
    font-family: sans-serif;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400px;
}
.first-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 40px;
   
}

.al-haqqah{
    color: orange;
}
.first-div{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    text-align: justify;
}
.first-div img{
    width: 80%;

}
.second-section{
    display: flex;
    background-repeat: no-repeat;
    background-image: url(images/dream-bg.png);
    background-position: right;
    text-align: justify;
}
.second-div{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    
    text-align:left:justify;
}
.second-div img{
    width: 60%;

}
.link-button{
    background-image: linear-gradient(orange, tomato);
    border-radius: 10px;
    box-shadow: 5px 5px 5px blueviolet;
    color: white;
    padding: 10px;
    text-decoration: none;
}
#add-padding{
    padding-right: 20px;
    
}
.third-division{
    display: flex;
    width: 86%;
    margin-left: 5%;
   
    
}
.last-final{
    border-radius: 20px;
    box-shadow: 5px 5px 5px blue;
    text-align: justify;
    padding: 20px;
    border-left: 5px solid;
    border-color: gray;
    margin-right: 3%;
    margin-left: 8%;
    text-align: center;
   
   
}
  .h3-color{
      color: black;
      font-weight: 500px;
      background-image: linear-gradient(orange, tomato);
      padding:5px;
      border-radius: 10px;
  }
  .h1-exp{
      color: darkblue;
      
  }